* {
	margin: 0;
	padding: 0;
}
html {
	box-sizing: border-box;
	font-size: 60%;
}
body {
	background-color: #eee;
	font-family: "Poppins", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding-top: 100;
	padding-bottom: 93;
}
body{
	background-image: url(ctr.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
nav {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	padding: 10px 50px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.6);
	border-bottom: 1px solid #whitesmoke;
}
nav .logo {
	padding: 22px 20px;
	height: 80px;
	float: left;
	font-size: 24px;
	font-weight: bold;
	color: #F3E7D3;
}
nav ul {
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}
nav ul li a {
	line-height: 80px;
	color: #F3E7D3;
	padding: 12px 30px;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: cursive;
}
nav ul li a:hover{
	background: rgba(243, 231, 211, 0.6);
	border-radius: 6px;
	color: black;
}

.grid {
	display: grid;
	width: 114em;
	grid-gap: 6rem;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	align-items: start;
}
.grid-item {
	background-color: #fff;
	border-radius: 0.4rem;
	overflow: hidden;
	box-shadow: 0 3rem 6 rem rgba(0, 0, 0, 0.1);
	transition: 0.2s;
}
.grid-item:hover {
	transform: translateY(-0.5%);
	box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}
.card-img {
	display: inline-block;
	width: 100%;
	height: 20rem;
	object-fit: cover;
}
.card-content {
	padding: 3rem;
}
.card-header {
	font-size: 3rem;
	font-weight: 500;
	color: #0d0d0d;
	margin-bottom: 1.5rem;
}
.card-text {
	font-size: 1.6rem;
	letter-spacing: 0.1rem;
	line-height: 1.7;
	color: #3d3d3d;
	margin-bottom: 2.5rem;
}
.card-btn {
	display: block;
	width: 100%;
	padding: 1.5rem;
	font-size: 2rem;
	text-align: center;
	color: #3363ff;
	background-color: #d8e0fd;
	border: none;
	border-radius: 0.4rem;
	transition: 0.2s;
	cursor: pointer;
	letter-spacing: 0.1rem;
}
.card-btn span {
	margin-left: 1rem;
	transition: 02.s;
}
.card-btn:hover 
.card-btn:active {
	background-color: #c2cffc;
}
.card-btn:hover span
.card-btn:active span {
	margin-left: 1.5rem;
}

@media only screen and (max-width: 60em) {
	body {
		padding: 3rem;
	}
	.grid {
		grid-gap: 3rem;
	}
}

.footer {
	background: rgba(0, 0, 0, 0.9);
	position: absolute;
	bottom: 0;
	top: 880;
	margin: auto;
	height:120px;
	width:100%;
}
.cpr
{
	color:black;
	font-family:Consolas;
	position:relative;
	top: 30;
	width: 600;
	margin: auto;
	font-size: 14px;
	padding-left: 180px;
}
.mq
{
	color:white;
	font-family: cursive;
	font-style: italic;
	position:relative;
	top: 20;
	width: 600;
	margin: auto;
	font-size: 18px;
	padding-left: 90px;
}
.logo img {
	position: absolute;
	width: 100px;
    height: 40px;
}